<form class="form-inline">
	<div class="form-group">
		{{input type='text' placeholder='Task name' value=task class='form-control'}}
	</div>
	<button {{action 'submitClicked' item}} class="btn btn-primary">{{buttonLabel}}</button>
	{{yield}}
</form>